<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-7">
      <a class="navbar-brand" href="/admin" style="font-family: Impact, Charcoal, sans-serif; color: green;"><img src="../universitylogo2.png" style="width:92px; height:62px; margin-right: 10px" title="UNC Hospital Logo" alt="Logo"> Logged in as Admin</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
						<a class="nav-link" href="/createUser">CREATE USERS</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="/addPicture">ADD PICTURE</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="/logout">LOGOUT</a>
				</li>
      </ul>
    </div>
</nav>
