<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase">
  <a class="col navbar-brand js-scroll-trigger" href="/" font-size:"400%">Peer Support Network</a>
  <div class="col nav nav-tabs nav-fill" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
  <div class="navigation">   
  <a class="col button" href="/logout">
    <div class="logout">LOGOUT</div>
  </a>
  </div>
</nav>