<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>
<body>
	<% include partials/adminNav %> 
    <div class="container" style="padding-top: 10%; padding-bottom: 10%">
        <h2>Submit Picture</h2>
        <br/>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/addPicture' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="myImage" />
        <input type='submit' value='Upload!' />
    </form>     
    </div>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>
<% include partials/script %>
</html>