<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>
<body>
	<% include partials/adminNav %> 
    <div class="container" style="padding-top: 10%; padding-bottom: 10%">
        <h2>Submit Picture</h2>
        <br/>
        
          <div id="fail" class="alert alert-danger text-center" style="margin-right: 20%; margin-left: 20%; display: none;">
             
          </div>
          <div id ="success" class="alert alert-success text-center" style="margin-right: 20%; margin-left: 20%; display: none;">
            
          </div>
        <!-- action='/test' 
      method='POST' 
      encType="multipart/form-data"> --> 
    <!-- <form > -->
        <!-- <div class="form-group">
        <button id="selectBtn">Select Image</button>
        <input id ="input">
        <input id = "browse" name="myImage" type="file" style="display: none" />

         <br/><br/>
        <button id= "upload" class="btn btn-primary" type='submit' value='Upload!'>Upload!</button>
      </div> -->
    <!-- </form>      -->

    <form id="file-form" action="/addPicture" method="POST">
      <input type="file" id="file-select" name="photo"/>
      <button type="submit" id="upload-button">Upload boi</button>
    </form>
    </div>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>
<% include partials/script %>
</html>
<script>
  $(()=>{
    // $(":file").filestyle();
    


    $("#selectBtn").click(()=>{
      console.log('boi');
      $("#browse").trigger("click");
    });
    $("#browse").change(()=>{
      console.log('input');
      $("#input").val($(this).val());
    });

    $('#upload-button').click(function(event){
      event.preventDefault();
      
    
    var form = $('#file-form');
    var fileSelect = $('#file-select');
    var uploadButton = $('#upload-button');
   // uploadButton.innerHTML = 'Uploading...';


    var files = fileSelect.prop("files");
    var formData = new FormData();
    //for (var i = 0; i < files.length; i++) {
        var file = files[0];

          console.log(file)
          console.log(file.name)
        // Add the file to the request.
        formData.append('photo', file, file.name);
      //}
      $.ajax({
            url: "/addPicture",
            type: "POST",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            cache: false,
            timeout: 10000,
            success: function (res) {
                   console.log(res);
                if(res.success){
                  $("#success").show();
                  $("#success").html(res.msg);
                }else{
                  $("#fail").show();
                  $("#fail").html(res.msg);
                }


            },
            error: function (result) {
                alert("error " + result)
            }
        })

        });
  });
</script>