<% if (user.role != 'admin') { %>
	<p>You do not have admin permission! Please <a href="/login">log in as an administrator</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. You have reached the admin route. View your <a href="/profile">profile</a>.</p>
<% } %>
