<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body style="background-color:#023166;">
<% include partials/navbar %>
<div>
    <div class="container" style="padding-top: .5%; padding-bottom: .5%">
        <div class="box">
            <h2 style="color:white">Conversation with <%= recp %></h2>
        </div> 
    
        <ul class="list-group">
            <% for (var i = 0; i < messages.length; i++) { %>
                <li class="list-group-item"><%= messages[i] %></li>
            <% } %>
            <li class="list-group-item">
                <form class="form-inline" action="" method="POST">
                    <input class="col-10" style="margin-left: 3px; width: auto" type="text" id="newMessage" name="newMessage" maxlength="280" placeholder="Message">
                    <input type="hidden" id="" name="convoId" value="<%= convo._id %>">
                    <input type="hidden" id="" name="recp" value="<%= recp %>">
                    <input style="margin-left: 3px; width: fixed" class="col-1 btn-sm btn-primary" type="submit" value="Send">
                </form>
            </li>
        </ul>
        <br/>
    </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>