<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>
<body>
	<% include partials/adminNav %> 
    <div class="container" style="padding-top: 10%; padding-bottom: 10%">
        <h2>Create Parent/Patient Users</h2>
        <br/>
        <form method="POST" action="">
                    <div class="form-group">
                        <label for="age">Parent Email </label>
                        <input class="form-control" type="text" id="pEmail" name="pEmail">
                    </div>
                    <div class="form-group">
                        <label for="genderId">Patient Email </label>
                        <input class="form-control" id="cEmail" type="text" name="cEmail">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Patient Birthdate </label>
                        <input class="form-control" id="birthdate" type="date" name="birthdate">
                    </div>
                    <div class="form-group">
                        <label for="devAge">Developmental Age </label>
                        <input class="form-control" id="devAge" type="text" name="devAge">
                    </div>
                    <div class="form-group" name="services">
                        <label>Medical Services Received by Patient</label> 
                        <div class="form-check">
                            <label for="surgery" class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="surgery" name="Surgery" value="Surgery">
                             Surgery</label>
                        </div>
                        <div class="form-check">
                            <label for="neurosurgery" class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="neurosurgery" name="Neurosurgery" value="Neurosurgery">
                             Neurosurgery</label>
                        </div>
                        <div class="form-check">
                                <label for="entSurgery" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="entSurgery" name="ENTSurgery" value="ENT Surgery">
                                 ENT Surgery</label>
                        </div>
                        <div class="form-check">
                                <label for="orthSurgery" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="orthSurgery" name="OrthopedicSurgery" value="Orthopedic Surgery">
                                 Orthopedic Surgery</label>
                        </div>
                        <div class="form-check">
                                <label for="cardSurgery" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="cardSurgery" name="CardiothoracicSurgery" value="Cardiothoracic Surgery">
                                 Cardiothoracic Surgery</label>
                        </div>
                        <div class="form-check">
                                <label for="uroSurgery" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="uroSurgery" name="UrologySurgery" value="Urology Surgery">
                                 Urology Surgery</label>
                        </div>
                        <div class="form-check">
                                <label for="burns" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="burns" name="Burns" value="Burns">
                                 Burns</label>
                        </div>
                        <div class="form-check">
                                <label for="genMed" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="genMed" name="GeneralMedicine" value="General Medicine">
                                 General Medicine</label>
                        </div>
                        <div class="form-check">
                                <label for="cardS" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="cardS" name="Cardiology" value="Cardiology">
                                 Cardiology</label>
                        </div>
                        <div class="form-check">
                                <label for="endo" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="endo" name="Endocrinology" value="Endocrinology">
                                 Endocrinology</label>
                        </div>
                        <div class="form-check">
                                <label for="GI" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="gi" name="GI" value="GI">
                                 GI</label>
                        </div>
                        <div class="form-check">
                                <label for="hema" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="hema" name="HematologyOncology" value="Hematology and Oncology">
                                 Hematology and Oncology</label>
                        </div>
                        <div class="form-check">
                                <label for="neph" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="neph" name="Nephrology" value="Nephrology">
                                 Nephrology</label>
                        </div>
                        <div class="form-check">
                                <label for="pulmo" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="pulmo" name="Pulmonology" value="Pulmonology">
                                 Pulmonology</label>
                        </div>
                        <div class="form-check">
                                <label for="bone" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="bone" name="BoneMarrowTransplant" value="Bone Marrow Transplant">
                                 Bone Marrow Transplant</label>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit">
                    </div>  
        </form>
    </div>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>
<% include partials/script %>
</html>