<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>
<body>
  <% include partials/navbar %>
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
    	<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="container">
	        				<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
	        				<h1 class="text-uppercase mb-0">Welcome!</h1>
	       	 				<hr class="star-light">
	        				<h2 class="font-weight-light mb-0">to Pediatric Peer to Peer Support</h2>
                  </br>
                  <h3>
                      <% if (!user) { %>
                        <p>Welcome! Please <a href="/login">log in</a>.</p>
                      <% } else { %>
                        <p>Hello, <%= user.username %>. View your <a style="color: yellow;" href="/profile">profile</a>.</p>
                      <% } %>
                  </h3>
      					</div>
					</div>
				</div>
    </header>

    

  

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>
<% include partials/script %>
</html>

