<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2>Matches for <%= user.username %></h2>
        <br/>
        <h3>
                Matches: <br/>
                    <h3 class="text-primary">
                        <% for (var i = 0; i < matches.length; i++) { %>
                            <%= matches[i].username %><br/>
                        <% } %>
                    </h3>
        </h3>
        <h3>
                Pending: <br/>
                <% if (received) { %>
                    <h3 class="text-success">
                        <% for (var i = 0; i < received.length; i++) { %>
                            <%= received[i].username %><br/>
                        <% } %>
                    </h3>
                <% } %>
                <% if (sent) { %>
                    <h3 class="text-danger">
                        <% for (var i = 0; i < sent.length; i++) { %>
                            <%= sent[i].username %><br/>
                        <% } %>
                    </h3>
                <% } %>
        </h3>
    </div>

</body>
<% include partials/script %>
</html>