doctype html
html
  head
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', crossorigin='anonymous')
  body
    .container
      br
      div
        h1 #{user.name+"'s Matches "}
      #matches
        | #{user.newMatches}
      br
      br
      h1 Pending
      #pending
        | #{user.pendingMatches}
    script.
      $(()=>{
      getMatch();
      })
      function addMatch(user){
      $('#matches').append(`<tr><th>${user.name}</th></tr>`)
      }
      function getMatch(){
      $.get('http://localhost:3000/matches',(user)=>{
      user.forEach(addMatch);
      //console.log(user)
      })
      }