<h3>
    Matches for <%= user.username %><br/>
    Matches: <% for (var i = 0; i < matches.length; i++) { %>
                <%= matches[i].username %><br/>
             <% } %>
    <% if (sent) { %>
    Sent:    <% for (var i = 0; i < sent.length; i++) { %>
                <%= sent[i].username %><br/>
             <% } %>
    <% } %>
    <% if (received) { %>
    Received:    <% for (var i = 0; i < received.length; i++) { %>
                    <%= received[i].username %><br/>
                 <% } %>
    <% } %>
    </h3>
    <a href="/profile">View Profile</a>
    <a href="/logout">Log out</a>