<!DOCTYPE html>
<html lang="en">
<body>
<main>
    <div >
        <h1>Matches</h1>
        <p><%= profile.friends %></p>
    </div>
    <div>
        <h1>Sent Requests</h1>
        <p><%= profile.sentPendingFriendIds %></p>
    </div>
    <div>
        <h1>Pending Response</h1>
        <p><%= profile.recvPendingFriendIds %></p>
    </div>
</main>

<footer>
</footer>

</body>
</html>