<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2 class='text-primary'>Messages Page</h2>
    </div>

</body>
<% include partials/script %>
</html>