<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body style="background-color:#023166;">
<% include partials/navbar %>
<div>
    <div class="container">
        <h2 class='text-primary'>Messages Page</h2>
    </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>