<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2>Edit your profile</h2>
        <br/>
        <form method="POST" action="">
                    <div class="form-group">
                        <label for="avatar">Avatar </label>
                        <select class="form-control" id="avatar" name="avatar">
                            <option value="baseball">Baseball</option>
                            <option value="soccerball">Soccer Ball</option>
                            <option value="basketball">Basketball</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="age">Age </label>
                        <input class="form-control" type="text" id="age" name="age" value="<%= profile.age %>">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Birthdate </label>
                        <input class="form-control" id="birthdate" type="date" name="birthdate">
                    </div>
                    <div class="form-group">
                        <label for="devAge">Developmental Age </label>
                        <input class="form-control" id="devAge" type="text" name="devAge">
                    </div>
                    <div class="form-group">
                        <label for="genderId">Gender Identity </label>
                        <input class="form-control" id="genderId" type="text" name="genderId" value="<%= profile.genderId %>">
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio </label>
                        <textarea class="form-control" id="bio" name="bio" rows="10" cols="30" value="<%= profile.bio %>"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="services">Medical Services </label>
                        <select class="form-control" id="services" name="services" size="16" multiple>
                            <option value="Surgery">Surgery</option>
                            <option value="Neurosurgery">Neurosurgery</option>
                            <option value="ENT Surgery">ENT Surgery</option>
                            <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                            <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
                            <option value="Urology Surgery">Urology Surgery</option>
                            <option value="Burns">Burns</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Endocrinology">Endocrinology</option>
                            <option value="GI">GI</option>
                            <option value="Hematology and Oncology">Hematology and Oncology</option>
                            <option value="Nephrology">Nephrology</option>
                            <option value="Neurology">Neurology</option>
                            <option value="Pulmonology">Pulmonology</option>
                            <option value="Bone Marrow Transplant">Bone Marrow Transplant</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Interests </label> 
                        <div class="form-check">
                            <label for="video games" class="form-check-label">Video Games: </label>
                            <input class="form-check-input" type="checkbox" id="video games" value="video games" <% if (profile.interests.includes('video games')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                            <label for="cooking" class="form-check-label">Cooking: </label>
                            <input class="form-check-input" type="checkbox" id="cooking" value="cooking" <% if (profile.interests.includes('cooking')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="arts&crafts" class="form-check-label">Arts & Crafts: </label>
                                <input class="form-check-input" type="checkbox" id="arts&crafts" value="arts & crafts" <% if (profile.interests.includes('arts & crafts')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="legos" class="form-check-label">Legos: </label>
                                <input class="form-check-input" type="checkbox" id="legos" value="legos" <% if (profile.interests.includes('legos')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="building" class="form-check-label">Building: </label>
                                <input class="form-check-input" type="checkbox" id="building" value="building" <% if (profile.interests.includes('building')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="writing" class="form-check-label">Writing: </label>
                                <input class="form-check-input" type="checkbox" id="writing" value="writing" <% if (profile.interests.includes('writing')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="reading" class="form-check-label">Reading: </label>
                                <input class="form-check-input" type="checkbox" id="reading" value="reading" <% if (profile.interests.includes('reading')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="tv" class="form-check-label">Television: </label>
                                <input class="form-check-input" type="checkbox" id="tv" value="tv" <% if (profile.interests.includes('tv')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="movies" class="form-check-label">Movies: </label>
                                <input class="form-check-input" type="checkbox" id="movies" value="movies" <% if (profile.interests.includes('movies')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="boardgames" class="form-check-label">Board and Card Games: </label>
                                <input class="form-check-input" type="checkbox" id="boardgames" value="board/card games" <% if (profile.interests.includes('board/card games')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="sports" class="form-check-label">Sports: </label>
                                <input class="form-check-input" type="checkbox" id="sports" value="sports" <% if (profile.interests.includes('sports')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="swimming" class="form-check-label">Swimming: </label>
                                <input class="form-check-input" type="checkbox" id="swimming" value="swimming" <% if (profile.interests.includes('swimming')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="boating" class="form-check-label">Boating: </label>
                                <input class="form-check-input" type="checkbox" id="boating" value="boating" <% if (profile.interests.includes('boating')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="fishing" class="form-check-label">Fishing: </label>
                                <input class="form-check-input" type="checkbox" id="fishing" value="fishing" <% if (profile.interests.includes('fishing')) { %> checked <% } %>>
                        </div>

                    </div>
                    <br/>
                    <div class="form-group">
                            <input class="btn btn-primary" type="submit">
                            <a class="btn btn-danger" href='/profile' style="float:right">Discard Changes</a>
                    </div>  
        </form>
    </div>
    <br/>
</body>
<% include partials/script %>
</html>