<div class="form-group">
                        <label>Medical Services</label> 
                        <div class="form-check">
                            <label for="surgery" class="form-check-label">Surgery: </label>
                            <input class="form-check-input" type="checkbox" id="surgery" value="Surgery" <% if (profile.services.includes('Surgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                            <label for="neurosurgery" class="form-check-label">Neurosurgery: </label>
                            <input class="form-check-input" type="checkbox" id="neurosurgery" value="Neurosurgery" <% if (profile.services.includes('Neurosurgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="entSurgery" class="form-check-label">ENT Surgery: </label>
                                <input class="form-check-input" type="checkbox" id="entSurgery" value="ENT Surgery" <% if (profile.services.includes('ENT Surgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="orthSurgery" class="form-check-label">Orthopedic Surgery: </label>
                                <input class="form-check-input" type="checkbox" id="orthSurgery" value="Orthopedic Surgery" <% if (profile.services.includes('Orthopedic Surgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="cardSurgery" class="form-check-label">Cardiothoracic Surgery: </label>
                                <input class="form-check-input" type="checkbox" id="cardSurgery" value="Cardiothoracic Surgery" <% if (profile.services.includes('Cardiothoracic Surgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="uroSurgery" class="form-check-label">Urology Surgery: </label>
                                <input class="form-check-input" type="checkbox" id="uroSurgery" value="Urology Surgery" <% if (profile.services.includes('Urology Surgery')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="burns" class="form-check-label">Burns: </label>
                                <input class="form-check-input" type="checkbox" id="burns" value="Burns" <% if (profile.services.includes('Burns')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="genMed" class="form-check-label">General Medicine: </label>
                                <input class="form-check-input" type="checkbox" id="genMed" value="General Medicine" <% if (profile.services.includes('General Medicine')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="cardS" class="form-check-label">Cardiology: </label>
                                <input class="form-check-input" type="checkbox" id="cardS" value="Cardiology" <% if (profile.services.includes('Cardiology')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="endo" class="form-check-label">Endocrinology: </label>
                                <input class="form-check-input" type="checkbox" id="endo" value="Endocrinology" <% if (profile.services.includes('Endocrinology')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="GI" class="form-check-label">GI: </label>
                                <input class="form-check-input" type="checkbox" id="gi" value="GI" <% if (profile.services.includes('GI')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="hema" class="form-check-label">Hematology and Oncology: </label>
                                <input class="form-check-input" type="checkbox" id="hema" value="Hematology and Oncology" <% if (profile.services.includes('Hematology and Oncology')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="neph" class="form-check-label">Nephrology: </label>
                                <input class="form-check-input" type="checkbox" id="neph" value="Nephrology" <% if (profile.services.includes('Nephrology')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="pulmo" class="form-check-label">Pulmonology: </label>
                                <input class="form-check-input" type="checkbox" id="pulmo" value="Pulmonology" <% if (profile.services.includes('Pulmonology')) { %> checked <% } %>>
                        </div>
                        <div class="form-check">
                                <label for="bone" class="form-check-label">Bone Marrow Transplant: </label>
                                <input class="form-check-input" type="checkbox" id="bone" value="Bone Marrow Transplant" <% if (profile.services.includes('Bone Marrow Transplant')) { %> checked <% } %>>
                        </div>
</div>