/* Dropdown Button */
.dropbtn {
    background-color: rgb(13, 164, 190);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#avatar {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

#usernamesize {
    font-size: 1.50em;
    font-weight: bold;
}

.dropdown-content{
    width: 100%;
}
.img-thumbnail{
    border-radius: 49%;
    padding: 0px;
}
#picdiv{
    width:12em;
    margin: 0 auto; /* Added */
    float: none; 
    padding-top: .7em;
}
.match-bg {
    background-color: #6cd870;
}
#logo{
    height: 170px;
    width: 170px;
}

.wrapper {
    height: 300px;
    width: 70%;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content:left;
  }
  
  .innerWrapper {
    display: flex;
    text-align: center;
    width: fit-content;
  }
  
  .box {
    display: inline-block;
    padding: 25px 25px;
    opacity: 0.8;
    background-color: clear;
  }

  .profile{
      padding-top: 0px;
  }

  .card{
      border-radius: 1.5rem;
  }